@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.custom-font h1 {
    display: block;
    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.custom-font h2 {
    display: block;
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.custom-font h3 {
    display: block;
    font-size: 1.17em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.active-link {
    color: #007bff;
}

p {margin:0}

@media (min-width: 768px) {
    .parent:hover .dropdown {
        display: block;
    }

    .slick-arrow{
        background-color: #c4c4c5 !important;
        z-index: 30;
        width: 30px !important;
        height: 30px !important;
        border-radius: 4px;
        position: relative;
    }

    .slick-prev {
        inset-inline-start: 0 !important;
    }

    .slick-next {
        inset-inline-end: 0 !important;
    }
    .slick-prev::before {
        content: "←";
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 20px;
        position: absolute;
        top: 50%;
        color: white;
    }
    .slick-prev::after {
        content: "";
        width: 0 !important;
        height: 0 !important;
        border-inline-width: 0 !important;
        border-block-width: 0 !important;
        border-radius: 0 !important;
    }

    .slick-next::before {
        content: "→";
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 20px;
        position: absolute;
        top: 50%;
        color: white;
    }
    .slick-next::after {
        content: "" ;
        width: 0 !important;
        height: 0 !important;
        border-inline-width: 0 !important;
        border-block-width: 0 !important;
        border-radius: 0 !important;
    }

    .slick-arrow:hover {
        background-color: #6eb0f3 !important;
    }
}

    .heading {
        position: relative;
    }

    /*.heading:before {*/
    /*    position: absolute;*/
    /*    display: block;*/
    /*    content: ' ';*/
    /*    width: 100%;*/
    /*    height: 1px;*/
    /*    top: 50%;*/
    /*    z-index: 0;*/
    /*    background: #bbac78 !important*/
    /*}*/

    .no-scroll {
        overflow: hidden;
        height: 100%;
    }

    @media (max-width: 1024px) {
        .nextArrow,
        .prevArrow {
            display: none !important;
        }
    }

    @keyframes ringing {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
    }

    .ringing {
        animation: ringing 1s infinite;
    }

    .slick-dots li button:before {
        font-size: 0px !important;
    }

    figure.image.image_resized{
        margin-left: auto;
        margin-right: auto;
    }

    .carousel_image {
        max-width: 100%; /* Ensure the image scales down */
    height: auto;
}

@media (max-width: 768px) {
    .carousel_image {
        height: 500px; /* Adjust for mobile screens */
    }
}

.slider-container .ant-carousel .slick-prev,
.slider-container .ant-carousel .slick-next {
    display: block !important;
    color: black !important;
    top: 40% !important;
    transform: translateY(-50%) !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dropdown {
    visibility: hidden;
}

.dropdown:hover,
.dropdown.force-show {
    visibility: visible;
}

.circle-animation {
    width: 65px;
    height: 65px;
    top: -8px;
    left: -8px;
    position: absolute;
    box-shadow: 0 0 0 0 #c31d1d;
    background-color: rgba(230, 8, 8, .7);
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-animation: phone-vr-circle-fill 2.3s infinite ease-in-out;
    animation: phone-vr-circle-fill 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animuiion: zoom 1.3s infinite;
    animation: zoom 1.3s infinite;
}

.animation {
    animation: phone-vr-circle-fill 1s infinite ease-in-out;
}

@-webkit-keyframes phone-vr-circle-fill {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes zoom {
    0% {
        transform: scale(.9)
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px transparent
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 transparent
    }
}

/* styles.css or a similar file */
.dropdown-style {
    min-width: max-content;
    width: auto;
}

@media (max-width: 767px) { /* Adjusts for tablets and below */
    .dropdown-style {
        min-width: unset; /* Resets min-width for smaller devices */
        width: 100%; /* Full width on smaller devices */
    }
}

@media (min-width: 768px) { /* Example for md breakpoint */
    .dropdown-item:last-child, .dropdown-item:nth-last-child(2), .dropdown-item:nth-last-child(3) {
        border-bottom: none;
    }
}

.dropdown-animation {
    transition: all 1s ease;
    transform: scaleY(0);
    transform-origin: top;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.dropdown-animation.active {
    transform: scaleY(1);
    height: auto;
    opacity: 1;
    visibility: visible;
}

.custom-carousel .slick-slide {
    width: auto !important; /* Override the fixed width */
    margin-right: 0px;
}

.custom-carousel .slick-list {
    display: flex;
    align-items: center;
}

.custom-carousel .slick-track {
    display: flex;
    gap: 12px; /* Add gap between items */
}

.custom-carousel .slick-slide:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.carousel-item {
    padding: 0 8px; /* Adjust the gap as needed */
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.slider-container{
    max-width: 1392px;
    max-height: 784px;
    position: relative;
}

.introduction {
    padding: 40px 24px 32px;
    width: 1000px;
    margin: auto;
    bottom: -200px;
    transform: translateX(-50%);
    left: 50%;
}